.u-section-1 {
  background-image: url("images/WhatsAppImage2021-07-10at9.56.53PM.jpeg");
  background-position: 32.57% 0%;
  background-size: auto 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-image-1 {
  width: 124px;
  height: 124px;
  background-image: url("images/logo1.jpg");
  background-position: 50% 50%;
  margin: 175px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 733px 0 54px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: -64px 0 0 388px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 60px 120px 0 151px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 66px;
  min-height: 16px;
  width: 241px;
  min-width: 90px;
  margin: 43px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 587px;
    width: 638px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 51px;
    margin-right: 20px;
    width: 838px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 187px;
    font-size: 6rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-top: 95px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -160px;
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 1224px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 382px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 37px 40px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 37px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: url("images/istockphoto-854130274-612x612.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 2123px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 391px 0 449px;
}

.u-section-3 .u-gallery-1 {
  height: 1938px;
  grid-gap: 17px 17px;
  width: 1192px;
  margin: 75px auto 43px -32px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-3 .u-back-image-2 {
  object-position: 17.67% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-3 .u-back-image-3 {
  object-position: 54.19% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
    min-height: 986px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 349px;
    margin-right: 291px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1528px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1749px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 4495px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 239px;
    margin-right: 181px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4682px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 4476px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3325px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 149px;
    margin-right: 91px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3512px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2793px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2024px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 2211px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 809px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 151px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 291px;
  height: 291px;
  background-image: none;
  margin: 20px 60px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 66px;
  margin: -175px -8px 0 8px;
}

.u-section-4 .u-text-2 {
  margin: 166px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 500px;
    height: 500px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-4 .u-shape-1 {
    width: 251px;
    height: 251px;
    margin-top: 69px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-5 {
  min-height: 394px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 371px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 9px 142px 0 43px;
}

.u-section-5 .u-text-2 {
  margin: 52px 142px 0 60px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 46px;
  min-height: 16px;
  width: 158px;
  min-width: 68px;
  margin: 14px auto 0 60px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 371px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 15px 30px 28px;
}

.u-section-5 .u-form-1 {
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 311px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 156px;
    margin-left: 54px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: 322px;
    margin-left: 97px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 46px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 120px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}